@{  
    ViewBag.Title = "Room: "+ViewBag.RoomName;
}
<div class="row well">
    <h4>@ViewBag.Message</h4>
    <span>Logined as: </span>
    <h4 id="userName">@ViewBag.UserName</h4>
</div>

<h3>@ViewBag.RoomName</h3>
<input type="hidden" id="userId" value="@ViewBag.UserId"/>
<input type="hidden" id="roomKey" value="@ViewBag.RoomKey"/>
<input type="hidden" id="isOwner" value="@ViewBag.isOwner"/>

@section scripts
{    
    @Scripts.Render("~/Scripts/app/room.js")
    <script type="text/javascript"> LoadRoom(); </script>
}